$black: #000000;
$red:#F6523C;
$white:#FFFFFF;
$gray: #F5F5F5;

h1{
    font-family: 'MULISH';
    font-size: 80px;
    line-height: 20px;
    font-weight: bold;
}
h2 {
    font-family: 'MULISH';
    font-size: 40px;
    line-height: 20px;
    font-weight: bold;
}
h3 {
    font-family: 'MULISH';
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}