.cl-gray{
    color: #808080;
    font-size: 30px;
    word-spacing: 6px;
    letter-spacing: 4px;
    line-height: 60px;
}
ins+span{
    text-decoration: overline;
}
/* ins span{text-decoration: line-through;} spanнаходится в ins  */
.prime{
        font-weight: 900;
}    
ins del{text-shadow: 2px 2px 4px orange;
}
ins .prime del{
    font-size: 35px;
}
.sqr{
    opacity: 0;
}
.sqr:hover{  /*когда наводишь*/
    opacity: 1;
}
.power{
    color: rgba(255, 0, 149, 0.3);
}