body {
	color: #101010;
	background-color: #ffffff
}

@media (max-width: 959.98px) {
	body {
		background-color: #f6f4f2
	}
}

.form-control {
	color: #dccdbf
}

.form-control:focus {
	color: #dccdbf
}

.form-group textarea,
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group select {
	background-color: #2d2d2d;
	border: 2px solid #414141;
	resize: none;
}

.form-group textarea:hover,
.form-group textarea:focus,
.form-group input[type="text"]:hover,
.form-group input[type="text"]:focus,
.form-group input[type="tel"]:hover,
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:hover,
.form-group input[type="email"]:focus,
.form-group select:hover,
.form-group select:focus {
	background-color: #2d2d2d;
	border: 2px solid #5b5b5b !important
}

.round-plus-icon:before,
.round-plus-icon:after {
	content: '';
	background-color: #7b6957;
	transition: background-color 0.2s
}

.round-plus-icon.icon-primary:before,
.round-plus-icon.icon-primary:after {
	background-color: #e7c7a3
}

.round-plus-icon.icon-light:before,
.round-plus-icon.icon-light:after {
	background-color: #dccdbf
}

textarea::-webkit-input-placeholder {
	color: #beae9f !important
}

textarea:-moz-placeholder {
	color: #beae9f !important
}

textarea::-moz-placeholder {
	color: #beae9f !important
}

textarea:-ms-input-placeholder {
	color: #beae9f !important
}

input::-webkit-input-placeholder {
	color: #beae9f !important
}

input:-moz-placeholder {
	color: #beae9f !important
}

input::-moz-placeholder {
	color: #beae9f !important
}

input:-ms-input-placeholder {
	color: #beae9f !important
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #414141
}

.btn:focus {
	box-shadow: none !important
}

.btn-outline-primary {
	color: #eee9e5;
	background-color: transparent;
	background-image: none;
	border-color: #eee9e5;
	box-shadow: none !important;
	border-color: #dfb788
}

.btn-outline-primary:hover {
	color: #eee9e5;
	background-color: transparent;
	border-color: #eee9e5
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 233, 229, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #eee9e5;
	background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: transparent;
	border-color: #eee9e5
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 233, 229, 0.5)
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
	border-color: #eee9e5;
	color: #f5d9bf;
	box-shadow: none
}

.btn-outline-secondary {
	color: #2d2d2d;
	background-color: transparent;
	background-image: none;
	border-color: #2d2d2d;
	border-color: #e7c7a3;
	color: #2d2d2d !important
}

.btn-outline-secondary:hover {
	color: #2d2d2d;
	background-color: transparent;
	border-color: #9c8c7d
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(45, 45, 45, 0.5)
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
	color: #2d2d2d;
	background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: transparent;
	border-color: #9c8c7d
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(45, 45, 45, 0.5)
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
	border-color: #2d2d2d
}

.btn-outline-gray {
	color: #beae9f;
	background-color: transparent;
	background-image: none;
	border-color: #beae9f;
	border-color: #beae9f
}

.btn-outline-gray:hover {
	color: #414141;
	background-color: transparent;
	border-color: #a99481
}

.btn-outline-gray:focus,
.btn-outline-gray.focus {
	box-shadow: 0 0 0 0.2rem rgba(190, 174, 159, 0.5)
}

.btn-outline-gray.disabled,
.btn-outline-gray:disabled {
	color: #beae9f;
	background-color: transparent
}

.btn-outline-gray:not(:disabled):not(.disabled):active,
.btn-outline-gray:not(:disabled):not(.disabled).active,
.show>.btn-outline-gray.dropdown-toggle {
	color: #fff;
	background-color: transparent;
	border-color: #a99481
}

.btn-outline-gray:not(:disabled):not(.disabled):active:focus,
.btn-outline-gray:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-gray.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(190, 174, 159, 0.5)
}

.btn-social {
	color: #beae9f;
	background-color: transparent;
	background-image: none;
	border-color: #beae9f;
	border-color: transparent;
	background-color: #202020
}

.btn-social:hover {
	color: #f5d9bf;
	background-color: #2d2d2d;
	border-color: transparent
}

.btn-social:focus,
.btn-social.focus {
	box-shadow: 0 0 0 0.2rem rgba(190, 174, 159, 0.5)
}

.btn-social.disabled,
.btn-social:disabled {
	color: #beae9f;
	background-color: transparent
}

.btn-social:not(:disabled):not(.disabled):active,
.btn-social:not(:disabled):not(.disabled).active,
.show>.btn-social.dropdown-toggle {
	color: #fff;
	background-color: #2d2d2d;
	border-color: transparent
}

.btn-social:not(:disabled):not(.disabled):active:focus,
.btn-social:not(:disabled):not(.disabled).active:focus,
.show>.btn-social.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(190, 174, 159, 0.5)
}

.btn-tag {
	color: #dccdbf;
	background-color: transparent;
	background-image: none;
	border-color: #dccdbf
}

.btn-tag:hover {
	color: #cab39e;
	background-color: transparent;
	border-color: #cab39e
}

.btn-tag:focus,
.btn-tag.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 205, 191, 0.5)
}

.btn-tag.disabled,
.btn-tag:disabled {
	color: #dccdbf;
	background-color: transparent
}

.btn-tag:not(:disabled):not(.disabled):active,
.btn-tag:not(:disabled):not(.disabled).active,
.show>.btn-tag.dropdown-toggle {
	color: #fff;
	background-color: transparent;
	border-color: #cab39e
}

.btn-tag:not(:disabled):not(.disabled):active:focus,
.btn-tag:not(:disabled):not(.disabled).active:focus,
.show>.btn-tag.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 205, 191, 0.5)
}

.btn-tag:active {
	color: #cab39e !important
}

.btn-tag a {
	color: inherit
}

.btn-slider {
	background: none;
	color: #eee9e5;
	background-color: #dccdbf
}

@media (min-width: 550px) and (max-width: 1279.98px) {
	.btn-slider {
		background-color: transparent;
		color: #dccdbf
	}
}

.btn-slider:hover {
	background-color: #cab39e
}

@media (min-width: 550px) and (max-width: 1279.98px) {
	.btn-slider:hover {
		background-color: transparent
	}
}

.btn-slider.swiper-button-disabled:hover {
	background-color: #dccdbf
}

@media (min-width: 550px) and (max-width: 1279.98px) {
	.btn-slider.swiper-button-disabled:hover {
		background-color: transparent
	}
}

.btn-more {
	color: #beae9f;
	border-color: #eee9e5
}

.btn-more:hover,
.btn-more:focus {
	color: #beae9f;
	border-color: #e7c7a3
}

#demo-panel {
	color: #beae9f;
	background-color: #000000
}

#demo-panel .theme-switcher h2 {
	color: #beae9f
}

#demo-panel .toggle-demo-panel .toggle-area {
	background-color: #000000
}

#demo-panel .toggle-demo-panel .toggle-area a i {
	color: #fbbb00
}

.custom-modal .modal-header {
	background-color: #dccdbf
}

.custom-modal .modal-header .close:hover .round-plus-icon {
	transition: background-color 0.2s
}

.custom-modal .modal-header .close:hover .round-plus-icon:before,
.custom-modal .modal-header .close:hover .round-plus-icon:after {
	background-color: #c2b6a9
}

.custom-modal .modal-header .round-plus-icon:before,
.custom-modal .modal-header .round-plus-icon:after {
	background-color: #98836d
}

.custom-modal .modal-content {
	background-color: #ffffff
}

.custom-modal .modal-footer {
	border-top: 1px solid #eee9e5
}

.dark-header {
	background-color: #202020 !important
}

.dark-content {
	background-color: #2d2d2d !important
}

.menu-style-default .main-header {
	background-color: #101010
}

.menu-style-default .main-header.compact {
	background-color: #101010 !important
}

.menu-style-default .main-header.is-open {
	background-color: #101010 !important
}

.menu-style-default .main-header .menu-toggle {
	background: none
}

.menu-style-default .main-header .menu-toggle i {
	background-color: #ffffff
}

@media (max-width: 959.98px) {
	.menu-style-default .main-header .nav-item {
		border-bottom: 1px solid #202020;
		border-bottom-border-top: 1px solid #202020
	}
}

@media (max-width: 959.98px) {
	.menu-style-default .main-header-info {
		background-color: #101010
	}
}

@media (max-width: 959.98px) {
	.menu-style-default .main-header-nav {
		background-color: #eee9e5
	}
}

.menu-style-default .main-header-nav-link {
	color: #dccdbf
}

.menu-style-default .main-header-nav-link:hover,
.menu-style-default .main-header-nav-link:focus,
.menu-style-default .main-header-nav-link.active {
	color: #e7c7a3
}

.menu-style-default .main-header-phone .phone-link {
	color: #ffffff;
	font-size:25px;
}

@media (max-width: 959.98px) {
	.menu-style-default .main-header-order-button {
		border: 2px solid #f5d9bf
	}
}

.menu-style-default .menu-overlay {
	background: rgba(255, 255, 255, 0.4)
}

.menu-style-default .menu-open .menu-toggle i {
	background: #9c8c7d
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .up-hero {
		background-color: #101010
	}
}

.menu-style-square-logo .text-pages-square.main-header {
	background: unset;
	background-color: #515151
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .text-pages-square.main-header {
		background-color: unset
	}
}

.menu-style-square-logo .main-header {
	background: linear-gradient(rgba(53, 46, 42, 0.8), transparent)
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .main-header {
		background: none
	}
}

.menu-style-square-logo .main-header.compact {
	background: unset;
	background-color: #515151 !important
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .main-header.compact {
		background-color: unset !important
	}
}

.menu-style-square-logo .main-header.is-open {
	background-color: #101010 !important
}

.menu-style-square-logo .main-header .menu-toggle {
	background: none
}

.menu-style-square-logo .main-header .menu-toggle i {
	background-color: #101010
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .main-header .nav-item {
		border-bottom: 1px solid #202020;
		border-top: 1px solid #202020
	}
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .main-header-info {
		background-color: #101010
	}
}

@media (max-width: 959.98px) {
	.menu-style-square-logo .main-header-nav {
		background-color: #eee9e5
	}
}

.menu-style-square-logo .main-header-nav-link {
	color: #ffffff
}

.menu-style-square-logo .main-header-nav-link:hover,
.menu-style-square-logo .main-header-nav-link:focus,
.menu-style-square-logo .main-header-nav-link.active {
	color: #f5d9bf
}

.menu-style-square-logo .main-header-phone .phone-link {
	color: #ffffff
}

.menu-style-square-logo .main-header-logo {
	background-color: #101010
}

@media (max-width: 549.98px) {
	.menu-style-square-logo .main-header-logo {
		background-color: #101010
	}
}

.menu-style-square-logo .main-header-order-button {
	border-style: none
}

.menu-style-square-logo .menu-overlay {
	background: rgba(255, 255, 255, 0.4)
}

.menu-style-square-logo .i-style {
	background-color: #ffffff !important
}

.menu-style-square-logo .on-scroll {
	background-color: #101010 !important
}

.home.index .menu-toggle i,
.menu-open .menu-toggle i {
	background-color: #ffffff !important
}

.main-logo {
	color: #ffffff
}

.text-primary-light {
	color: #f5d9bf !important
}

.main-footer {
	background-color: #101010
}

.main-footer-address {
	color: #beae9f;
}
#legal-entity a {
	color: #beae9f;
}
#legal-entity a:hever {
	color: #fff;
}
.main-footer-subtitle {
	color: #beae9f;
	border-bottom: 0.19rem solid #e7c7a3
}

.main-footer-link {
	color: #beae9f
}

.main-footer-link:hover,
.main-footer-link:focus {
	color: #dfb788
}

.main-footer-dev {
	color: #beae9f
}

.main-footer-dev:hover,
.main-footer-dev:focus {
	color: #ffffff
}

.breadcrumbs {
	color: #9c8c7d
}

.breadcrumbs a {
	color: #746658
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #494037
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
	border-bottom: 3px solid #414141
}

.tooltip.bs-tooltip-top .tooltip-inner {
	color: #beae9f;
	background-color: #202020
}

.pagination .page-link {
	background-color: #eee9e5
}

.pagination .page-link:hover,
.pagination .page-link:focus,
.pagination .page-link.active {
	color: #101010;
	background-color: #dccdbf
}

.pagination .page-link a {
	color: #101010
}

.pagination .page-link.active {
	color: #101010
}

.pagination .page-link i.fa {
	color: #e7c7a3
}

.pagination .page-left,
.pagination .page-right {
	border-color: #eee9e5
}

.pagination .page-left:hover,
.pagination .page-left:focus,
.pagination .page-right:hover,
.pagination .page-right:focus {
	border-color: #dacfc6
}

.form-group.tel.required:after {
	color: #2d2d2d
}

.custom-checkbox {
	color: #beae9f
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
	color: #f5d9bf;
	-webkit-text-fill-color: #f5d9bf;
	box-shadow: 0 0 0px 5000px #2d2d2d inset !important;
	transition: background-color 5000s ease-in-out 0s
}

.has-error .form-control {
	border-color: #f24529 !important
}

.has-error .custom-control-label:after {
	border: 1px solid #f24529
}

.modal-backdrop {
	background-color: rgba(255, 255, 255, 0.6)
}

.post-preview-date {
	background-color: rgba(16, 16, 16, 0.5);
	color: #ffffff
}

.post-preview-title a {
	color: #2d2d2d
}

.post-preview-text {
	color: #9c8c7d
}

.order-form {
	background-color: #2d2d2d
}

.order-form-title {
	color: #ffffff
}

.order-form-policy a {
	color: #beae9f
}

.order-form-policy a:hover {
	color: #eee9e5
}

.order-form-content {
	border-top-color: #474747
}

.custom-control-label:before,
.custom-control-label:after {
	background-color: #414141
}

.tags-list {
	color: #dccdbf;
	background-color: #ffffff
}

.tags-list-button {
	background-color: #ffffff;
	color: #beae9f
}

@media (min-width: 550px) {
	.tags-list-button:hover {
		background-color: #eee9e5
	}
}

.tags-list-button i.fa {
	color: #dccdbf
}

.tags-list-item {
	border-top: 1px solid #eee9e5
}

.tags-list-left {
	border-color: #eee9e5
}

.tags-list-left:after {
	background-color: #eee9e5
}

.tags-list-left .tags-list-item:first-child {
	border-top-color: #eee9e5
}

.file-info {
	background-color: #ffffff;
	border: 2px solid #eee9e5
}

.file-info-text {
	color: #7b6957
}

.with-typography p.lead {
	color: #414141;
	background-color: #eee9e5;
	border-top-color: #414141
}

.with-typography .gray-line {
	background-color: #414141
}

.with-typography a {
	color: #dfb788
}

.with-typography a:hover,
.with-typography a:focus {
	color: #9c8c7d
}

.with-typography ol li:before {
	color: #101010
}

.with-typography blockquote {
	color: #9c8c7d;
	background-color: inherit;
	border-color: #dccdbf
}

.with-typography table {
	color: #101010
}

.with-typography table th {
	color: #ffffff;
	background-color: #414141
}

.with-typography table td {
	border-bottom: 1px solid #ffffff
}

.with-typography table tr:nth-child(2n) td {
	background-color: #f6f4f2
}

.with-typography table tr:nth-child(2n+1) td {
	background-color: #eee9e5
}

@media (max-width: 959.98px) {
	.full-order {
		background-color: #2d2d2d
	}
}

.full-order-modal-header {
	background-color: #eee9e5
}

.full-order-modal-title {
	color: #beae9f
}

.full-order-policy a {
	color: #beae9f
}

.full-order-instruction {
	color: #beae9f
}

.full-order .form-group.focused:before {
	color: #e7c7a3
}

.image-preloader {
	background-color: white
}

.image-preloader-item {
	background-color: #dccdbf
}

.insta-image-content:before {
	background-color: #101010
}

.insta-image-content i.fa {
	color: #f5d9bf
}

.insta-image-caption {
	color: #ffffff
}

.navbar-toggler-icon {
	background-color: #ffffff
}

.navbar-toggler-icon,
.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
	transition: opacity 0.08s, background 0.1s, -webkit-transform 0.15s;
	transition: transform 0.15s, opacity 0.08s, background 0.1s;
	transition: transform 0.15s, opacity 0.08s, background 0.1s, -webkit-transform 0.15s
}

.navbar-toggler.active .navbar-toggler-icon {
	background-color: #dccdbf
}

.main-title-text {
	background-color: rgba(0, 0, 0, 0.2)
}

.main-title-text .title-text-box .text-1,
.main-title-text .title-text-box .text-2,
.main-title-text .title-text-box .text-3 {
	color: #ffffff
}

.main-title-text .title-text-box .btn-title-text-primary {
	transition: all .3s ease;
	background-color: #dfb788;
	border-color: #dfb788;
	color: #ffffff
}

.main-title-text .title-text-box .btn-title-text-primary:hover {
	color: #ffffff;
	border-color: #d49f60;
	background-color: #d49f60
}

.main-title-text .title-text-box .btn-title-text-secondary {
	transition: all .3s ease;
	background-color: unset;
	color: #ffffff;
	border-color: rgba(255, 255, 255, 0.5)
}

.main-title-text .title-text-box .btn-title-text-secondary:hover {
	color: #ffffff;
	border-color: white
}

.tinkoff-modal .paymnet_description {
	color: #beae9f;
	border-color: #2d2d2d !important
}

.tinkoff-modal .paymnet_description {
	border: 2px solid;
	padding: 0.5rem
}

@media (max-width: 959.98px) {
	.tinkoff-modal .paymnet_description {
		padding: 15
	}
}

@media (max-width: 549.98px) {
	.tinkoff-modal .paymnet_description {
		margin: 0 15 15 15
	}
}

.project-preview-content-hover-visible {
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0px 260px 110px -130px rgba(16, 16, 16, 0.5) inset
}

@media (max-width: 959.98px) {
	.project-preview-content-hover-visible {
		opacity: 1
	}
}

.project-preview:hover .project-preview-content-hover-visible {
	transition: opacity 0.3s;
	opacity: 1
}

.project-preview-content-always-visible {
	opacity: 1;
	box-shadow: 0px 260px 110px -130px rgba(16, 16, 16, 0.5) inset;
	-webkit-animation: background-start 0.3s 1 forwards;
	animation: background-start 0.3s 1 forwards;
	background: transparent
}

.project-preview-content-always-visible:hover {
	-webkit-animation: background-hover 0.3s 1 forwards;
	animation: background-hover 0.3s 1 forwards
}

.project-preview-title {
	color: #ffffff
}

.project-previews .marked {
	-webkit-animation: marked 10s ease;
	animation: marked 10s ease
}

@-webkit-keyframes background-hover {
	100% {
		box-shadow: 0px 260px 110px -100px rgba(16, 16, 16, 0.65) inset
	}
}

@keyframes background-hover {
	100% {
		box-shadow: 0px 260px 110px -100px rgba(16, 16, 16, 0.65) inset
	}
}

@-webkit-keyframes background-start {
	from {
		box-shadow: 0px 260px 110px -100px rgba(16, 16, 16, 0.65) inset
	}
	100% {
		box-shadow: 0px 260px 110px -130px rgba(16, 16, 16, 0.5) inset
	}
}

@keyframes background-start {
	from {
		box-shadow: 0px 260px 110px -100px rgba(16, 16, 16, 0.65) inset
	}
	100% {
		box-shadow: 0px 260px 110px -130px rgba(16, 16, 16, 0.5) inset
	}
}

@-webkit-keyframes marked {
	0% {
		box-shadow: 0 0 0 4px #dfb788
	}
	100% {
		box-shadow: 0 0 0 4px rgba(223, 183, 136, 0)
	}
}

@keyframes marked {
	0% {
		box-shadow: 0 0 0 4px #dfb788
	}
	100% {
		box-shadow: 0 0 0 4px rgba(223, 183, 136, 0)
	}
}

.projects.show .main-header:not(.compact) {
	background: linear-gradient(rgba(53, 46, 42, 0.8), transparent);
	margin-top: 20px;
	
}

@media (min-width: 960px) {
	.projects.show .main-header:not(.compact):not(.is-open) .main-header-order-button {
		border-color: transparent;
		background-color: transparent
	}
	.projects.show .main-header:not(.compact):not(.is-open) .main-header-order-button:focus,
	.projects.show .main-header:not(.compact):not(.is-open) .main-header-order-button:hover {
		border-color: transparent
	}
}

.project-gallery .image-preloader {
	background-color: black;
}

@media (min-width: 960px) {
	.project-gallery {
		background-color: black;
		margin-bottom:-30px;
		margin-top: -20px;
	}
}

.project-gallery-images .project-gallery-image:first-child {
	border-right: 2px solid #101010
}

.project-gallery-images .project-gallery-image:last-child {
	border-left: 2px solid #101010
}

.project-gallery-navs .button-next,
.project-gallery-navs .button-prev {
	background: none
}

@media (max-width: 959.98px) {
	.project-gallery-nav {
		background-color: #202020;
		margin-bottom: -20px;
	}
}

.project-gallery-nav-top {
	background-color: #e7c7a3;
	border-color: #e7c7a3
}

.project-gallery-nav-top:hover,
.project-gallery-nav-top:active,
.project-gallery-nav-top:focus {
	background-color: #e7c7a3;
	border-color: #e7c7a3
}

.project-info-main-title {
	cursor: pointer;
	color: #ffffff
}

.project-info-main-title.active {
	background-color: #101010
}

.project-info-main-title.active .close,
.project-info-main-title.active .close:hover {
	background-color: #202020
}

.project-info-main-title.active .project-info-go-back {
	background-color: #2d2d2d
}

.project-info-main-title .close:hover {
	background-color: rgba(0, 0, 0, 0.4)
}

.project-info-main-title .content {
	background-color: rgba(32, 32, 32, 0.4)
}

.project-info-main-title .content:after {
	background-color: #101010
}

.project-info-main-title .project-info-go-back {
	background-color: rgba(32, 32, 32, 0.4)
}

.project-info-main-title .project-info-go-back:hover,
.project-info-main-title .project-info-go-back:active {
	background-color: #101010
}

.project-title .text {
	background: rgba(0, 0, 0, 0.4)
}

.project-title .text h1 {
	color: #ffffff
}

.project-title .project-title-holder:hover .text {
	background-color: #101010
}

.project-title .project-title-holder:hover .close {
	background-color: #101010
}

.project-title .close {
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 0.2s
}

.project-info-desktop.opening .project-title-holder .close,
.project-info-desktop.opened .project-title-holder .close {
	background-color: #101010
}

.project-info-desktop.hiding .project-title-holder .close {
	background-color: #101010
}

.project-info-desktop-panel {
	background: #202020
}

.project-info-desktop-panel-content {
	background: #202020
}

.project-info-desktop-panel-content:before {
	background: #101010
}

.project-info-desktop-panel-content:after {
	background: #202020
}

.project-info-desktop-panel-content .column {
	color: #beae9f
}

.project-info-desktop-panel-content .column:before {
	background: #2d2d2d
}

.project-info-desktop-panel-content .column:last-child:after {
	background: #2d2d2d
}

.project-info-desktop-panel-content .column h3,
.project-info-desktop-panel-content .column h4 {
	color: #eee9e5
}

.project-info-desktop-panel-content .column .year,
.project-info-desktop-panel-content .column .area {
	color: #eee9e5
}

.project-info-desktop-panel-content .column .desc-project-box .authors:before,
.project-info-desktop-panel-content .column .desc-project-box .authors:after {
	background: #2d2d2d
}

.project-info-desktop-panel-content .column .desc-project-box .authors p {
	color: #beae9f
}

.project-info-desktop-panel-content .column .desc-project-box .authors span {
	color: #eee9e5
}

.project-info-desktop-panel-content .column+.column {
	border-left: 2px solid #101010
}

.project-info .ps__thumb-y {
	background-color: rgba(255, 255, 255, 0.6)
}

.project-info .ps__rail-y:hover {
	background-color: transparent
}

.project-info .ps__rail-y:hover .ps__thumb-y {
	background-color: rgba(255, 255, 255, 0.6)
}

.project-info-chars {
	background-color: #101010;
	color: #ffffff
}

.project-info-close.close {
	background-color: #101010
}

.project-info-inner {
	background-color: #202020
}

.project-info-title {
	background-color: #101010;
	color: #ffffff
}

.project-info-text {
	color: #9c8c7d
}

.project-info-authors:before,
.project-info-authors:after {
	background: #2d2d2d
}

.project-info-authors p {
	color: #9c8c7d
}

.project-info-authors span {
	color: #dccdbf
}

.project-info-subtitle {
	color: #ffffff
}

.project-info-subtitle:before {
	background: #2d2d2d
}

@media (max-width: 959.98px) {
	.project-info-subtitle {
		background: #101010
	}
}

.project-info-plan {
	background-color: #202020
}

.home-steps {
	background-color: #202020;
	color: #beae9f
}

.home-steps-title {
	color: #eee9e5
}

.home-steps-initial:before,
.home-steps-final:before {
	border-left: 2px dashed #7b6957
}

.home-steps-initial {
	border-right: 2px dashed #7b6957
}

.home-steps-initial:after {
	border-bottom: 2px dashed #7b6957
}

@media (max-width: 549.98px) {
	.home-steps-initial {
		border-right: none
	}
}

.home-steps-final .home-step:first-child .home-step-image:before {
	background: #202020
}

.home-steps-final .home-step:first-child .home-step-image:after {
	border-bottom: 2px dashed #7b6957
}

.home-step-image {
	background-color: #202020
}

.home-step-title {
	color: #eee9e5
}

.home-reviews {
	background-color: #eee9e5
}

.home-reviews .pagination .swiper-pagination-bullet {
	background-color: #dccdbf
}

.home-reviews .pagination .swiper-pagination-bullet:hover,
.home-reviews .pagination .swiper-pagination-bullet-active {
	background-color: #e7c7a3
}

.home-reviews-modal .modal-header,
.home-reviews-modal .modal-footer {
	border-color: #eee9e5
}

.home-review-full-link {
	color: #9c8c7d !important;
	opacity: 0.7
}

.home-review-full-link:hover,
.home-review-full-link:focus {
	color: #66594d !important
}

.home-review-text {
	color: #343a40
}

.home-review-author {
	color: #343a40
}

.home-review-project {
	color: #9c8c7d
}

.home-review-project:hover {
	color: #66594d
}

.home-hero {
	background-color: #101010
}

.home-hero .image-preloader {
	background-color: #101010
}

.home-hero-down {
	background-color: #202020;
	color: #f5d9bf;
	transition: 0.2s background-color
}

@media (max-width: 959.98px) {
	.home-hero-down {
		background-color: #6b6b6b
	}
}

.home-hero-down:hover,
.home-hero-down:focus {
	color: #f5d9bf;
	background-color: #131313
}

@media (max-width: 959.98px) {
	.home-hero-down:hover,
	.home-hero-down:focus {
		background-color: #b7b7b7
	}
}

.home-hero .swiper-pagination-bullet {
	transition: 1s background-color;
	background-color: #6b6b6b
}

@media (max-width: 959.98px) {
	.home-hero .swiper-pagination-bullet {
		background-color: #848484
	}
}

.home-hero .swiper-pagination-bullet:hover,
.home-hero .swiper-pagination-bullet-active {
	background-color: #9e9e9e
}

@media (max-width: 959.98px) {
	.home-hero .swiper-pagination-bullet:hover,
	.home-hero .swiper-pagination-bullet-active {
		background-color: #eaeaea
	}
}

.home-hero-with-padding .home-hero {
	background-color: #101010
}

@media (max-width: 959.98px) {
	.home-hero-with-padding .home-hero {
		background-color: #777777
	}
}

.home-facts {
	background-color: #f6f4f2
}

.home-fact-content {
	color: #414141;
	border-color: #eee9e5;
	background-color: #ffffff
}

.home-fact-number {
	color: #e7c7a3
}

.home-fact-unit {
	color: #7b6957
}

.home-about {
	background-color: #202020;
	color: #beae9f
}

@media (max-width: 959.98px) {
	.home-about {
		color: #ffffff;
		background-color: #202020
	}
}

.home-about-text h3 {
	color: #beae9f
}

@media (max-width: 959.98px) {
	.home-about-text h3 {
		color: #ffffff
	}
}

.tariff-content {
	background-color: #2d2d2d
}

.tariff-header {
	color: #ffffff;
	border-color: #e7c7a3
}

@media (min-width: 960px) and (max-width: 1279.98px) {
	.tariff-header-toggle {
		color: #e7c7a3
	}
}

.tariff:first-child .tariff-content {
	background-color: #2d2d2d
}

.tariff:last-child .tariff-content {
	background-color: #202020
}

.tariff-name {
	color: #ffffff
}

.tariff-cost i.fa {
	color: #dccdbf;
	font-family: "Montserrat", sans-serif;
	font-size:30px;
	font-weight: 400;
}

.tariff-for {
	color: #dccdbf
}

.tariff-info {
	color: #202020;
	background-color: #ffffff
}

.tariff #bottom-line {
	border-top: 1px solid #eee9e5
}

.tariff #bottom-line-badge {
	color: #ffffff;
	background-color: transparent
}

.tariff #bottom-line-badge:hover,
.tariff #bottom-line-badge:focus,
.tariff #bottom-line-badge:active {
	background-color: transparent !important
}

.tariff-bonus {
	background-color: #9c8c7d;
	color: #ffffff
}

.tariff-bonus-item:before {
	background-color: #ffffff
}

.tariffs-charge {
	background-color: #ffffff
}

.tariffs-charge-item {
	background-color: #f6f4f2;
	color: #202020
}

.tariffs-charge-item:nth-child(2) {
	background-color: #eee9e5
}

.tariffs-charge-include .title i.fa {
	color: #dccdbf
}

.home-projects-header .section-title {
	color: #7b6957
}

.home-insta-title {
	color: #414141
}

.home-insta-title .icon {
	color: #e7c7a3
}

.post-go-back {
	color: #9c8c7d
}

.post-go-back:hover,
.post-go-back:focus {
	color: #9c8c7d
}

.post-content {
	background-color: #ffffff
}

.post-date {
	color: #dccdbf
}

.post-others-title {
	border-bottom: 1px solid #eee9e5
}

.post-others-more {
	border-top: 1px solid #eee9e5
}

.post-another-title {
	color: #beae9f
}

.post-another-title:hover,
.post-another-title:focus {
	color: #e7c7a3
}

.post-another-date {
	color: #dccdbf
}

.blog-previews-more .btn {
	color: #beae9f
}

.pagination a {
	color: #101010
}

.contacts-title {
	color: #2d2d2d
}

.contacts-column h4 {
	color: #7b6957
}

.contacts-column-content {
	background-color: #ffffff;
	border: 2px solid #eee9e5
}

.contacts-info {
	color: #7b6957
}

.contacts-info .info-row-dotted {
	border-color: #dccdbf
}

.contacts-info .info-label span,
.contacts-info .info-text span {
	background-color: #ffffff
}

.contacts-info .info-text {
	color: #7b6957
}

.contacts-info .info-text a {
	color: #dfb788
}

.contacts-info .info-label {
	color: #dfb788;
}

.contacts-info .info-label a {
	color: #dfb788
}

.contacts-map .map-info .map-header {
	background-color: #ffffff;
	border-color: #eee9e5
}

.contacts-map .map-info .map-header h4 {
	color: #7b6957
}

.contacts-map .map-info .map-box .map {
	border-color: #eee9e5
}

.tariffs {
	background-color: #f6f4f2
}

.tariffs ol li:before {
	color: #101010
}

.tariffs-title {
	color: #101010;
	opacity: 0.8
}

.tariffs-eq {
	background-color: #ffffff
}

.simple-page,
.contacts-page,
.packages-page {
	background-color: #f6f4f2
}

.simple-page .side-form-title {
	color: #9c8c7d;
	background-color: #ffffff
}

.simple-page-text {
	border-color: #dccdbf
}

.tags-list {
	background-color: #f6f4f2;
	background-color: #ffffff
}

.tags-list-button {
	background-color: #ffffff;
	color: #9c8c7d
}

.tags-list-left:after {
	background-color: #eee9e5
}

.tags-list-item {
	color: #9c8c7d;
	border-color: #eee9e5
}

.tags-list-item a {
	color: #9c8c7d
}

.tags-list-item:hover,
.tags-list-item:focus {
	background-color: #7b6957;
	color: #f5d9bf
}

.tags-list-item:hover .text-secondary_new,
.tags-list-item:focus .text-secondary_new {
	color: #f5d9bf
}

.tags-list-item:hover a,
.tags-list-item:focus a {
	color: #f5d9bf
}

.text-secondary_new {
	color: #9c8c7d
}

.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto
}

.ps__rail-x {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	height: 15px;
	bottom: 0px;
	position: absolute
}

.ps__rail-y {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	width: 15px;
	right: 0;
	position: absolute
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
	display: block;
	background-color: transparent
}

.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y,
.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y {
	opacity: 0.6
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
	background-color: #f6f4f2;
	opacity: 0.9
}

.ps__thumb-x {
	background-color: #9c8c7d;
	border-radius: 6px;
	transition: background-color .2s linear, height .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s ease-in-out;
	height: 6px;
	bottom: 2px;
	position: absolute
}

.ps__thumb-y {
	background-color: #9c8c7d;
	border-radius: 6px;
	transition: background-color .2s linear, width .2s ease-in-out;
	-webkit-transition: background-color .2s linear, width .2s ease-in-out;
	width: 6px;
	right: 2px;
	position: absolute
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x {
	background-color: #9c8c7d;
	height: 11px
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y {
	background-color: #9c8c7d;
	width: 11px
}

@supports (-ms-overflow-style: none) {
	.ps {
		overflow: auto !important
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ps {
		overflow: auto !important
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
		h1, .h1 {
    font-size: 22px;
}
.tariff-cost {
    font-size: 26px;
}

.tariff-cost i.fa {
    color: #dccdbf;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.mbcen{
	font-size: 13px;
}
.mbcenprice{
	font-size:20px;
}
}
.green{color:#4CAF50;font-weight: 500 !important;}